<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/painel.css" />
</head>
<body>
<header>
	<div class="navbar1 w-100 pt-2 pb-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 logo text-white text-xs-center text-sm-left"><strong>Pag</strong><i>Premium</i></div>
				<div class="offset-md-4 hidden-sm-down"></div>
				<div class="col-xs-12 col-sm-6 col-md-5 text-white text-xs-center text-md-right"><img src="https://d15shllkswkct0.cloudfront.net/wp-content/blogs.dir/1/files/2012/12/guido-van-rossum.jpg" width="50px" height="50px" alt="Perfil" class="img-circle mr-2" />Marcos Viana<a href=""><img src="assets/img/icon-logout.svg" width="30" height="30" class="ml-1" ></a></div>
			</div>
		</div>
	</div>
	<div class="navbar2 w-100 pt-1 pb-1 hidden-sm-down">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-inline centro">
						<li class="list-inline-item"><a href="#">Dashboard</a></li>
						<li class="list-inline-item"><a href="#">Dados Pessoais</a></li>
						<li class="list-inline-item"><a href="#">Contas</a></li>
						<li class="list-inline-item"><a href="#">Bancos</a></li>
						<li class="list-inline-item"><a href="#">Comprar saldo</a></li>
						<li class="list-inline-item"><a href="#">Vender saldo</a></li>
						<li class="list-inline-item"><a href="#">Histórico</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar2 w-100 hidden-sm-up">
		<div class="container">
			<div class="row">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="menu">
			    Button with data-target
			  </button>
			  <div class="collapse" id="menu">
			  	<ul class="list-unstyled">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Dados Pessoais</a></li>
					<li><a href="#">Contas</a></li>
					<li><a href="#">Bancos</a></li>
					<li><a href="#">Comprar saldo</a></li>
					<li><a href="#">Vender saldo</a></li>
					<li><a href="#">Histórico</a></li>
				</ul>
			  </div>
			</div>
		</div>
	</div>
	<div class="navbar3 w-100">
		<div class="sobrepor pt-1 pb-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-xs-center text-sm-left text-white">
						Dashboard
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="centro">
						SEJA BEM-VINDO <strong>{{ request.user }}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="assets/js/bootstrap.js"></script>
</body>
</html>