body{
	background-color: #ededed;
	margin:0;
	padding:0;
}
html,body{height:100%;}
.centro{width:100%; height:100%; display:flex; align-items:center; justify-content:center;}
.centro-column{width:100%; height:100%; display:flex; flex-direction:column; align-items:center; justify-content:center;}
.centro-height{width:100%; height:100%; display:flex; align-items:center;}
i{font-weight: lighter; font-style:normal;}
.text-white{color:#fff;}.text-green{color:#5cc575;}.text-blue{color:#4169e1;}
.img-circle{border-radius:200px;}
@media (max-width: 575px){.text-xs-left{text-align:left;}.text-xs-right{text-align:right;}.text-xs-center{text-align:center}}
@media (min-width: 576px){.text-sm-left{text-align:left;}.text-sm-right{text-align:right;}.text-sm-center{text-align:center}}
@media (min-width: 768px){.text-md-left{text-align:left;}.text-md-right{text-align:right;}.text-md-center{text-align:center}}
@media (min-width: 992px){.text-lg-left{text-align:left;}.text-lg-right{text-align:right;}.text-lg-center{text-align:center}}
@media (min-width: 576px){.mb-sm-1{margin-bottom: 0.25rem;}.mb-sm-2{margin-bottom: 0.5rem;}}
.breadcrumb{background: transparent;}.breadcrumb-item + .breadcrumb-item::before {color:#fff;} .breadcrumb-item.active {color: #fff;}
.pt-05 {padding-top: 0.05rem !important;}.pb-05 {padding-bottom: 0.05rem !important;}
.sobrepor {width:100%;height:100%;background: linear-gradient(-22deg, #353046, #6b5759, #53434d);background: -o-linear-gradient(-22deg, #353046, #6b5759, #53434d);background: -moz-linear-gradient(-22deg, #353046, #6b5759, #53434d);background: -webkit-linear-gradient(-22deg, #353046, #6b5759, #53434d);opacity: 0.88;}

.logo{font-size:25px;}
.navbar1 {background-color:#191919; box-shadow: 0px 19px 39px -5px rgba(0,0,0,1.0); z-index: 1;}
.navbar2{background-color:#1b1b1b;}.navbar2 .list-inline-item{margin-right:1rem;}.navbar2 .list-inline-item a {text-decoration: none; color:#fff; transition:0.3s;}.navbar2 .list-inline-item a:hover{color:#d3b641;}
.navbar3{background-image: url('../img/breadcrumb.png'); background-size:cover; background-position: center; font-weight: bolder; }